{# backend/templates/emails/reset_password.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation de votre mot de passe PrismeIA</title>
</head>
<body>
    <p>Bonjour {{ user.email }},</p>
    <p>Vous avez demandé à réinitialiser votre mot de passe pour l'application PrismeIA. Cliquez sur le lien ci-dessous pour continuer :</p>
    <p><a href="{{ resetUrl }}">Réinitialiser mon mot de passe</a></p>
    <p>Ce lien expirera dans 1 heure.</p>
    <p>Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email.</p>
    <p>Cordialement,</p>
    <p>L'équipe PrismeIA</p>
</body>
</html>